
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: right;
}

.project {
  // padding-left: 100px;
  cursor: pointer;
}

.projectBox {
  margin-right: 30px;
  margin-left: 30px;
  height: 20px;
  width: 30px;
}

#profileDiv {
  margin-left: 25px;
}

#github {
  cursor: pointer;
}

.profilePicture {
  height: 500px;
  width: 1150px;
}

#test {
  background-color: yellow;
  padding: 5px;
  display: none;
}

span.box:hover + div#test {
  display: block;
}


/* .App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
