
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: right;
}

.box {
  height: 100%;
  width: 100%;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
}

#colorBar {
  background-color: grey;
  padding: 5px;
  margin-top: 32px;
  display: block;
}

#github {
  cursor: pointer;
}

#profileDiv {
  margin-left: 25px;
  height: 100%;
  width: 100%;
}

.project {
  cursor: pointer;
}

.projectBox {
  padding-right: 50px;
  padding-left: 50px;
  height: 50px;
  wdith: 100px;
}

.profilePicture {
  height: 500px;
  width: 1150px;
}
