#aboutButtonContainer {
  display: flex;
  flex-direction: row;
}

#aboutDesc {
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-size: 30px;
  color: #A9B7C0;
  padding-top: 10px;
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 10px;
  // border: 1px solid #C7D8C6;
  margin-top: 20px;
  background-color: white;
}

#aboutDialogDiv {
  display: flex;
  flex-direction: row;
  // background-color: #CCCBC6;
}

#aboutIMG {
  float: left;
  margin-top: 20px;
  // border: 1px solid #C7D8C6;
}

#aboutTextDiv {
  width: 300px;
  height: 100%;
  position: relative;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#aboutTitle {
  position: relative;
  top: 10px;
}

.App {
  width: 100%;
  min-Width: 960px;
  margin: 0 auto;
}

.App-header {
  font-family: "HelveticaNeue";
  background-color: #C7D8C6;
  height: 100px;
  color: white;
}

.App-title {
  font-size: 32px;
  text-align: right;
  position: relative;
  right: 40px;
  height: 0px;
  top: 5px;
  margin: auto;
  display: block;
}

.box {
  height: 100%;
  width: 100%;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  flex-basis: 50px;
  position: relative;
  top: 15px;
}

#colorBar {
  background-color: #A9B7C0;
  padding: 5px;
  margin-top: 3.5px;
  display: block;
}

#colorBar2 {
  background-color: #A9B7C0;
  padding: 5px;
  position: relative;
  bottom: 20.6px;
  display: block;
}

#communityMobDesc {
  position: relative;
  color: #A9B7C0;
  padding: 5px;
  // border: 1px solid #C7D8C6;
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-size: 20px;
  background-color: white;
}

#communityMobImage {
  display: block;
  position: relative;
  left: 30px;
  top: 20px;
  float: left;
  max-width: 100%;
  max-height: 90%;
  // border: 2px solid #C7D8C6;
}

#communityMobImage2 {
  position: relative;
  right: 45px;
  top: 60px;
  height: 200px;
  width: 440px;
  // border: 1px solid #C7D8C6;
}

#communityMobTxt {
  width: 350px;
  height: 100%;
  position: relative;
  left: 30px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#commMobSlideComponent {
  position: relative;
}

#description {
  font-family: "HelveticaNeue";
  width: 100px;
}

#dialogDiv {
  margin-top: 15px;
}

#dialogDivMob {
  margin-top: 15px;
  height: 475px;
  width: 100%;
  display: flex;
  direction: row;
}

.dialogIcon {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 2px 1px #aaaaaa;
  background-color: #C7D8C6;
}

#dialogIconContainer {
  position: 'absolute';
  right: 0px;
}

#dialogTitleContainer {
  display: flex;
  direction: row;
  justify-content: space-between;
}

#email {
  color: #C7D8C6;
}
#email:hover {
  color: #EFD9C1;
}

@font-face {
   font-family: "HelveticaNeue";
   src: url('./media/HelveticaNeue Light.ttf');
}

#github {
  cursor: pointer;
}

#profileDiv {
  height: 100%;
  width: 100%;
}

.project {
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.project:hover {
  color: #A9B7C0;
}

.projectBox {
  padding-right: 40px;
  padding-left: 40px;
  height: 50px;
}

.projectDesc {
  color: #A9B7C0;
  font-weight: bold;
  font-family: "HelveticaNeue";
  font-size: 20px;
  padding: 5px;
  // border: 1px solid #C7D8C6;
  background-color: white;
}

.projectIMG {
  display: block;
  max-width: 100%;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid #C7D8C6;
}

.profilePicture {
  height: 500px;
  width: 1150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#resumeIcon {
  position: relative;
  // left: 5px;
}

#selfContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 50px;
  position: relative;
  right: 15px;
}

.selfButtonBox {
  padding-right: 30px;
  padding-left: 30px;
  height: 50px;
}

.selfButton {
  cursor: pointer;
  font-size: 18px;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selfButton:hover {
  color: #A9B7C0;
}

#sliderContainer {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  position: relative;
}

.sliderImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  width: 850px;
}

#sliderImgCommMob {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 370px;
  width: 850px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 115px 0 0 -425px;
}

.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 1;

    display: block;

    width: 100px;
    height: 100px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: #A9B7C0;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #CCCBC6;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}
